<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="lib/angular/angular.js"></script>
    <script src="./main.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" type="text/css" href="styles/_normalize.css" />
    <link rel="stylesheet" type="text/css" href="styles/_html.css" />
    <link rel="stylesheet" type="text/css" href="styles/banner.css" />
    <link rel="stylesheet" type="text/css" href="styles/history.css" />
    <link rel="stylesheet" type="text/css" href="styles/tracking_query.css" />
    <link rel="stylesheet" type="text/css" href="styles/tracking_result.css" />
    <title>Ohm Delivery</title>
  </head>
  <body>
    <div ng-app="ohm-delivery" ng-controller="tracking" class="container">
      <div class="tracking__query">
        <form ng-submit="sendData()">
          <div class="field">
            <input
              id="tracking"
              type="text"
              autofocus
              ng-model="trackingId"
              placeholder="Enter your tracking id"
            />
          </div>
          <div class="field">
            <button id="formBtn" type="submit">Submit</button>
          </div>
        </form>
      </div>

      <div ng-if="errorMessage" class="banner banner--danger">
        {{errorMessage}}
      </div>

      <div ng-if="resistance" class="tracking__result">
        <div
          ng-if="resistance.history.slice(-1)[0].rejectionReason"
          class="banner banner--warning"
        >
          <strong>The parcel has been rejected for the following reason: </strong>
          <br />
          {{resistance.history.slice(-1)[0].rejectionReason}}
        </div>
        <div class="result__history">
          <div
            ng-repeat="item in resistance.history"
            ng-class="'history__item ' + (item.state == 'DELIVERED' ? 'history__item--success' :'') + (item.state == 'REFUSED' ? 'history__item--danger' :'')"
          >
            <div class="history__content">{{item.state | humanize}}</div>
            <div class="history__arrow"></div>
          </div>

          <div
            ng-if="resistance.isDriver && resistance.history.slice(-1)[0].state == 'IN_DELIVERY'"
          >
            <div
              class="
                history__item history__item--clickable history__item--success
              "
              ng-click="changeStatus('DELIVERED')"
            >
              <div class="history__content">Delivered</div>
              <div class="history__arrow"></div>
            </div>
            <div style="height: 1rem"></div>
            <div
              class="
                history__item history__item--clickable history__item--danger
              "
              ng-click="changeStatus('REFUSED')"
            >
              <div class="history__content">Refused</div>
              <div class="history__arrow"></div>
            </div>
          </div>
        </div>
        <div class="result__details">
          <div class="result__customer">
            <dl>
              <dt>Name</dt>
              <dd>{{resistance.client.name}}</dd>
              <dt>Address</dt>
              <dd>{{resistance.client.address}}</dd>
            </dl>
          </div>
          <div class="result__resistance">
            <h2>
              Resistance: {{resistance.description.volts /
              resistance.description.amperes}} Ohm
            </h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
