body{
    font-family: Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

input, button, .btn{
    padding: 0.5rem 1rem;
}

.field{
    margin-bottom: 1rem;
}

.banner{
    padding: 2rem;
    width: 100%;
}

.banner--danger{
    background-color: darkorange;
}

.banner--warning{
    background-color: lightyellow;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    overflow: auto;
}

.tracking__result{
    overflow: auto;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

.tracking__result dd{
    margin-left: 0;
    margin-bottom: 1rem;
}

.tracking__result dt{
    font-weight: bold;
}

.result__history, .result__customer, .result__details{
    padding: 2rem;
}

.result__history{
    width: 100%;
    display: flex;
    align-items: center;
}

.history__item{
    display: flex;
    margin-right: 1rem;
    color: white;
    height: 50px;
    --item-color: black;
}

.history__item--clickable{
    cursor: pointer;
    opacity: 0.8;
}

.history__item--clickable:hover{
    opacity: 1;
}

.history__item--success{
    --item-color: darkgreen;
}

.history__item--danger{
    --item-color: darkred;
}

.history__content{
    background-color: var(--item-color);
    padding: 1rem;
    height: 50px;
}

.history__arrow{
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid var(--item-color);
    border-right: 25px solid transparent;
    height: 50px;
}

.result__customer, .result__details{
    width: 50%;
}

.tracking__query{
    background-color: lightblue;
    padding: 3rem;
}

.tracking__query form{

    display: flex;
}
